{% extends "app/layout.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid">

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header form-row">
                <span><i class="fas fa-fw fa-money-bill-alt"></i> Bills Report</span>             
            </div>

            <div class="card-body">
                <form action="{% url 'report' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-xs-2">
                                <input id="selectedMonth" name="selectedMonth" class="form-control monthpicker" placeholder="Select Month" autocomplete="off" required>
                            </div>

                            <div class="col-xs-2">
                                <input value="Submit" type="submit" class="btn btn-primary btn-block"/>
                            </div>
                        </div>
                    </div>
                </form>

                {% if bills %}
                    <div  class="row" >
                         <div class="col-lg-4 col-md-4 col-sm-4">
                            <b>Total Bils: {{total}}</b>
                            <br />
                            Paid Bills: {{paid}} <br />
                            Pending Bills: {{pending}}
                         </div>
                         <div class="col-lg-4 col-md-4 col-sm-4">
                            <b>Month: {{date|date:"F, Y"}}</b>
                            <br />
                            Paid Amount: {{paidAmount}} <br />
                            Pending Amount: {{pendingAmount}} <br /> <br />
                         </div>

                         <div class="col-lg-4 col-md-4 col-sm-4">
                            <b>Total Tax: {{tax}} </b>
                            <br />
                         </div>

                        <div class="ml-auto mr-0 mr-md-3 my-2 my-md-0">
                            <a href="{% url 'export_report_csv' date %}">
                                <i class="fas fa-fw fa-file-excel fa-2x"></i>
                            </a>
                        </div>
                     </div>
                
                {% endif %}

                <div class="table-responsive">
                    {% if bills %}
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Invoice No</th>
                                <th>Customer</th>
                                <th>Total Amount</th>
                                <th>Paid</th>
                                <th>Pending</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Invoice No</th>
                                <th>Customer</th>
                                <th>Total Amount</th>
                                <th>Paid</th>
                                <th>Pending</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for bill in bills %}
                            <tr>
                                <td>{{bill.invoiceNo}}</td>
                                <td>{{bill.customer.name}}</td>
                                <td>{{bill.grandTotal}}</td>
                                <td>{{bill.paid}}</td>
                                <td>{{bill.balance}}</td>
                                <td>{% if bill.status == True %} Paid {% else %} Pending {% endif %}</td>
                                <td>{{bill.date_created|date:"F d, Y"}}</td>
                                <td><a href="{% url 'invoice' bill.id %}"> View </a></td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

<script src="{% static 'app/vendor/jquery/jquery.ui.monthpicker.js' %}"></script>

<script>
  /*  $(document).ready(function() {
 
    // Append a caption to the table before the DataTables initialisation
    $('#example').append('<caption style="caption-side: bottom">'+
    '<div  class="row" >'+
                         '<div class="col-lg-4 col-md-4 col-sm-4">'+
                            '<b>Total Bils: {{total}}</b>'+
                            '<br />'+
                            'Paid Bills: {{paid}} <br />'+
                            'Pending Bills: {{pending}}'+
                         '</div>'+
                         '<div class="col-lg-4 col-md-4 col-sm-4">'+
                            '<br />'+
                            'Paid Amount: {% if paidAmount.grandTotal__sum == None %} 0 {% else %} {{paidAmount.grandTotal__sum}} {% endif %} <br />'+
                            'Pending Amount: {% if pendingAmount.grandTotal__sum == None %} 0 {% else %} {{pendingAmount.grandTotal__sum}} {% endif %} <br /> <br />'+
                         '</div>'+
                     '</div></caption>');
 
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );*/

    $(function () {
			$('#selectedMonth').monthpicker({
				yearRange: '2015:c',
				changeYear:true,
				maxDate: 0,
				dateFormat: 'yy-mm-01',
			});
		});
</script>

{% endblock %}
