{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UMAR - {{title}}</title>
    
    <!-- Bootstrap core CSS-->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'app/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'app/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/custom-style.css' %}" rel="stylesheet">

    <!-- jquery-->
    <link href="{% static 'app/vendor/jquery/jquery-ui.css' %}" rel="stylesheet">

    
    <script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script> 
    

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="{% url 'home' %}">Umar Mushtaq Auto Repairs</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">      
        <li class="nav-item">
          <a class="navbar-brand" href="#" data-toggle="modal" data-target="#logoutModal">
           <i class="fas fa-sign-out-alt fa-fw"></i>
          </a>
        </li>
      </ul>
    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">

        <li class="nav-item {{ home }}">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        
        <li class="nav-item {{ startInvoice }}">
          <a class="nav-link" href="{% url 'startInvoice' %}">
            <i class="fas fa-fw fa-file-invoice-dollar"></i>
            <span>Start Invoice</span>
          </a>
        </li>
        <li class="nav-item {{ parts }}">
          <a class="nav-link" href="{% url 'app:parts'%}">
            <i class="fas fa-fw fa-truck-pickup"></i>
            <span>Parts</span>
          </a>
        </li>
        <li class="nav-item {{ labours }}">
          <a class="nav-link" href="{% url 'labours'%}">
            <i class="fas fa-fw fa-dollar-sign"></i>
            <span>Labours</span>
          </a>
        </li>
        <li class="nav-item {{totalBills}}">
          <a class="nav-link" href="{% url 'totalBills' %}">
            <i class="fas fa-fw fa-money-bill-alt"></i>
            <span>Total Bills</span>
          </a>
        </li>
        <li class="nav-item {{ paidBills }}">
          <a class="nav-link" href="{% url 'paidBills' %}">
            <i class="fas fa-fw fa-money-bill-alt"></i>
            <span>Paid Bills</span>
          </a>
        </li>
        <li class="nav-item {{ pendingBills }}">
          <a class="nav-link" href="{% url 'pendingBills' %}">
            <i class="fas fa-fw fa-money-bill-alt"></i>
            <span>Pending Bills</span>
          </a>
        </li>
        <li class="nav-item {{ report }}">
          <a class="nav-link" href="{% url 'report' %}">
            <i class="fas fa-fw fa-receipt"></i>
            <span>Monthly Reports</span>
          </a>
        </li>
        <li class="nav-item {{ customerDirectory }}">
          <a class="nav-link" href="{% url 'customers' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Customer Directory</span>
          </a>
        </li>
      </ul>

      <div id="content-wrapper">
        {% block content %}{% endblock %}
        <!-- Sticky Footer -->
        <footer>
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Umar Mushtaq Auto Repairs {{year}}</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="card-header">
            <strong class="modal-title" id="exampleModalLabel">Ready to Leave?</strong>
          
          </div>
          <div class="modal-body"><h6>Are you sure you want to "Logout"?</h6></div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <form id="logoutForm" action="/logout" method="post" class="navbar-right">
                {% csrf_token %}
                <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            </form>
          </div>
        </div>
      </div>
    </div>

   
    <script src="{% static 'app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'app/vendor/jquery/jquery-ui.js' %}"></script>
    

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    <!-- Datatables plugin JavaScript-->
    <script src="{% static 'app/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'app/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <script src="{% static 'app/js/sb-admin.min.js' %}"></script> 

    <script src="{% static 'app/js/demo/datatables-demo.js' %}"></script>
    
  </body>

</html>
