{% extends "app/layout.html" %}
{% block content %}
{% load widget_tweaks %}
    <div class="container-fluid">

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header form-row">
                <span><i class="fas fa-fw fa-money-bill-alt"></i> Pending Bills </span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Invoice No</th>
                                <th>Customer</th>
                                <th>Total Amount</th>
                                <th>Paid</th>
                                <th>Pending</th>
                                <th>Date</th>
                                <th>Due Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Invoice No</th>
                                <th>Customer</th>
                                <th>Total Amount</th>
                                <th>Paid</th>
                                <th>Pending</th>
                                <th>Date</th>
                                <th>Due Date</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for bill in bills %}
                            <tr>
                                <td>{{bill.invoiceNo}}</td>
                                <td>{{bill.customer.name}}</td>
                                <td>{{bill.grandTotal}}</td>
                                <td>{{bill.paid}}</td>
                                <td>{{bill.balance}}</td>
                                <td>{{bill.date_created|date:"d-m-y"}}</td>
                                <td>{{bill.due_date|date:"d-m-y"}}</td>
                                <td>
                                    <a href="" data-toggle="modal" data-target="#editbill{{bill.id}}" class="btn btn-primary btn-sm">
                                        <i class="fas fa-pencil-alt"></i> Edit 
                                    </a>
                                    <a href="{% url 'invoice' bill.id %}" class="btn btn-success btn-sm">
                                        <i class="fas fa-file-invoice-dollar"></i> Invoice
                                    </a>
                                    <a href="{% url 'sendEmail' %}" class="btn btn-info btn-sm">
                                        <i class="fas fa-envelope"></i> Send Alert 
                                    </a>
                                </td>
                            </tr>
                                
                            <div class="modal fade" id="editbill{{bill.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="card-header"><strong>Edit Bill</strong>
                                            <a href="" class="close btn btn-danger btn-sm" data-dismiss="modal">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="card card-register mx-auto mt-0">
                                                    <div class="card-body">
                                                        <form action="{% url "updateInvoice" bill.id %}" method="POST">
                                                        {% csrf_token %}
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <label for="grandTotal" class="col-sm-4 control-label">Total Amount</label>
                                                                    <div class="col-sm-8">
                                                                        <input id="grandTotal" name="grandTotal" class="form-control" value={{bill.grandTotal}} readonly>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <label for="alreadypaid" class="col-sm-4 control-label">Already Paid</label>
                                                                    <div class="col-sm-8">
                                                                        <input id="alreadypaid" name="alreadypaid" class="form-control" value={{bill.paid }} readonly>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <label for="pending" class="col-sm-4 control-label">Pending</label>
                                                                    <div class="col-sm-8">
                                                                        <input id="pending" name="pending" class="form-control" value={{ bill.balance}} readonly>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <label for="paid" class="col-sm-4 control-label">Payment</label>
                                                                    <div class="col-sm-8">
                                                                        <input id="paid" name="paid" type="number" autocomplete="off" class="form-control" onChange="calRemaining({{bill.grandTotal}}, {{bill.paid}}, this.value, {{bill.id}})">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <label for="balance" class="col-sm-4 control-label">Further Due</label>
                                                                    <div class="col-sm-8">
                                                                        <input id="balance{{bill.id}}" name="balance" class="form-control" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <input type="hidden" name="next" value="/" />
                                                            <div class="text-right">
                                                                <input value="Submit" type="submit" class="btn btn-primary"/>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

<script>
    function calRemaining(gtotal, alreadypaid, paid, billID)
    {
        var bamount = parseInt(gtotal) - (parseInt(alreadypaid) + parseInt(paid));
        if (bamount < 0)
            bamount = 0;
	    document.getElementById('balance'+billID).value = bamount;
    }
</script>
{% endblock %}